.env
.env.*
*.bak

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

docker/
docker-compose.yml

scripts/
tests/
eval/
.pytest_cache/
.ruff_cache/

docs/
.git/
.github/
.gitignore
.vscode/
.idea/
*.md
!README.md

.DS_Store
Thumbs.db
